@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

body{
    font-family: 'Open Sans', sans-serif;
}
.user-comments{
    background-color: rgb(211, 211, 211);
    
}
.detailBox {
    width:600px;
    /* border:1px solid rgb(2, 2, 2); */
    margin:50px;
}
.titleBox {
    background-color:rgb(192, 214, 242);
    padding:10px;
}
.titleBox label{
  color:rgb(255, 255, 255);
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted rgb(109, 88, 19);
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:100%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:33%;
    
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    
    margin-top:10px 0;
}
.commentList {
    /* padding:0; */
    list-style:none;
    max-height:350px;
    overflow:auto;
    background-color: rgba(244, 244, 244, 0);
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}

.commentText p {
    color: white;
    margin:0;
}
.sub-text {
    color:rgba(80, 58, 43, 0.495);
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

/* ------------------- */

.left{
    display : flex;
    justify-content : center;
    align-items : center;
    height :900px;
    overflow: hidden;
    padding: 0;
   
}
.right{
    padding-top: 40px;
    display : flex;
    justify-content : center;
    align-items : left;
    background-color:white;
    height : 900px;
    overflow: auto;
    scroll-behavior: show;
    padding: 0;
  
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.with-padding {
    padding: 10,10,10,10;
}
#home-pic{width:100%; height:auto;
}
.zillow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(233,241,252);
    height:600px;
    padding-top: 50px;
    padding-bottom: 80px;
    
}
.jumbotron{ 
    background-color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.results{
    padding-top: 40px;
}
.comment-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213,198,186);
    height:600px;
    overflow: auto;
    padding-top: 40px;
    position: relative;
    
}
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 20px;
    text-align: right;
}
.zillow-text {
    padding-top: 20px;
}
.left-comment{ 
    overflow: hidden;
    padding-bottom: 0; 
}
